# In this route we use `workdir` to start the child
# R session on a different working directory.
[[route]]
route = "/sliders/"
workers = 1
server_type = "Shiny"
workdir = "./sliders"

# In this route we use `app_dir` to start the R session
# in the current working directory but use an app in
# a directory.
[[route]]
route = "/text/"
workers = 1
server_type = "Shiny"
app_dir = "./text"

# By default the `workdir` and `app_dir`
# is `.` (Here). If we don't specify
# it runs the app in the current dir.
[[route]]
route = "/"
workers = 1
server_type = "Shiny"

